.Welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

form {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}


button {
    margin: 1rem auto;
    display: inline-block;
    background: #f0e0a2;
    border: none;
    border-radius: 3px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #333;
    font-family: 'Slabo 27px', serif;
    cursor: pointer;
    transition: background 300ms;
}

button:hover {
    background: #ebd88c;
}
