.Card {
	cursor: pointer;
	height: 0;
	position: relative;
	display: flex;
	align-items: center;
}

.card {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  float: left;
  perspective: 500px;
  pointer-events: none;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);

  transition: transform 1s;
  transform-style: preserve-3d;
  pointer-events: none;
}

.Card.clicked .content,
.Card.found .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #abe1fd;
  text-align: center;
  font-size: 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  backface-visibility: hidden;
  justify-content: center;
  pointer-events: none;
}

.back {
  background: #abe1fd;
  color: white;
  transform: rotateY( 180deg );
}

.Card.found .back {
	background: #adddcf;
}